.tab-label{
    /* font-size: 20px; */
    /* text-align: right; */
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    /* color: pink; */
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    /* padding: 50px;     */
}